html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.table {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.col {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.col:nth-of-type(1) { width: 30%; }
.col:nth-of-type(2) { width: 40%; }
.col:nth-of-type(3) { width: 30%; }


h1 {
    font: 18px Georgia;
}

h2 {
    font-size: 14px;
}

.col-header {
    min-height: 80px;
}

.col-body {
    width: 100%;
    overflow: auto;
    flex-grow: 1;
}

pre {
    white-space: pre-wrap;
}

.json.map:before {
    content: "{";
}

.json.map:after {
    content: "}";
}

.json.array:before {
    content: "[";
}

.json.array:after {
    content: "]";
}

.json.map, .json.array {
    list-style: none;
    padding-left: 0;
    display: inline;
}

.json > li {
    margin-left: 15px;
    display: block;
}

.json > li:after {
    content: ",";
}

.json > li:last-child:after {
    content: none;
}

.json, textarea {
    font: 14px monospace;
}

.json.string {
    color: green;
}

.json.number {
    color: blue;
}

.annotated {
    background-color: yellow;
}

.meta {
    float: right;
}

small {
    color: gray;
}

.strippable:hover {
    background-color: lightgray;
}

.state-select-pii-rule textarea {
    color: gray;
}

.choose-rule {
    padding: 5px 15px;
    background: lightyellow;
}

a.rule-choice,
.strippable
{
    cursor: pointer;
}

a.rule-choice {
    color: blue;
    text-decoration: underline;
}
