html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.table {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.col {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 33%;
    flex-grow: 1;
}

.col-header h1 {
    font: 24px Georgia;
}

.col-body {
    width: 100%;
    flex-grow: 1;
}

pre {
    white-space: pre-wrap;
}

.json.map:before {
    content: "{";
}

.json.map:after {
    content: "}";
}

.json.array:before {
    content: "[";
}

.json.array:after {
    content: "]";
}

.json.map, .json.array {
    list-style: none;
    padding-left: 0;
}

.json > li {
    margin-left: 15px;
}

.json.key {
    float: left;
}

.json {
    font: 14px monospace;
}

.json.string:before, 
.json.key:before, 
.json.string:after {
    content: '"';
}

.json.string {
    color: green;
}

.json.number {
    color: blue;
}

.json.key:after {
    content: '":\00a0';
}

.annotated {
    background-color: yellow;
}

.meta {
    float: right;
}

small {
    color: gray;
}
